detectron2==0.6+2a420edpt2.5.1cu118
easyocr==1.7.2
natsort==8.4.0
numpy==1.26.4
opencv-python==4.5.4.60
paddleocr==2.9.1
pdfplumber==0.11.4
pdf2image==1.17.0
Pillow==9.4.0
Shapely==1.8.4
timm==0.5.4
torch==2.5.1
torchaudio==2.5.0+cu118
torchmetrics ==1.5.0
torchvision==0.20.1
transformers==4.45.1